<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo culpa ea sint quasi perspiciatis saepe architecto minus debitis quaerat, fugiat odit deserunt! Necessitatibus nam perspiciatis earum nisi, illum consequuntur totam eligendi laudantium dolor? Alias possimus cupiditate dignissimos eius veniam exercitationem quo, earum expedita similique suscipit et non dolor nostrum mollitia ex aut fugiat illo quis itaque eum. Totam voluptatum dolorum doloremque obcaecati id sit dolor fugit repellat, dolores fuga facilis esse sequi a. Ex dolore iure inventore sed nam dolorum ipsam iusto numquam earum. Ullam doloribus eveniet ducimus eum? Quaerat, earum ea? Harum facilis qui alias error quia, reiciendis dolore eius pariatur quaerat placeat voluptate deserunt tenetur atque ipsa expedita delectus cum. Assumenda, asperiores aut. Recusandae, dolorem officia. Quidem, harum.</p>
        <img class="portrait" src="/img/me.png">
    </div>
    
    {{>footer}}
</body>

</html>